{% extends 'skeleton.html' %}
{% load i18n staticfiles %}

{% block landing %}
<div flex layout="row" layout-align="center center" layout-fill>
    <h2 class="md-display-3" style="color: white;">{% trans 'Witaj na mojej stronie' %}</h2>
</div>
{% endblock %}

{% block content %}
    <md-content layout-margin>
        <div layout="column" layout-gt-sm="row" flex layout-align="space-between center">
            <div layout="column" flex-gt-sm="70" flex layout-padding>
                <h1 class="md-display-2">{% trans 'Ostatnie posty na blogu' %}</h1>
                <md-divider></md-divider>
                <md-card md-theme="default" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Ostatni artykuł</span>
                            <span class="md-subhead">12/03/2017</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus
                            volutpat purus sit amet sagittis.
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Czytaj dalej</md-button>
                    </md-card-actions>
                </md-card>
                <md-card md-theme="default" md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Przedstatni artykuł</span>
                            <span class="md-subhead">11/03/2017</span>
                        </md-card-title-text>
                        <md-card-title-media>
                            <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                    </md-card-title>
                    <md-card-content>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent finibus
                            volutpat purus sit amet sagittis.
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button>Czytaj dalej</md-button>
                    </md-card-actions>
                </md-card>
                <div flex layout="row" layout-align="end center">
                    <a href="#" class="md-subhead">{% trans 'Więcej wpisów' %} >></a>
                </div>
                <md-divider></md-divider>
            </div>
            <!-- Author, newsfeed -->
            <div layout="column" flex-gt-sm="30" flex-order="-1" flex-order-gt-sm="2" layout-padding>
                <md-card>
                    <img ng-src="{% static 'img/avatar.png' %}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{% trans 'O mnie' %}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {% blocktrans %}
                            Lubię placki, jestem śmiesznym i wyluzowanym programistą, bo wrzucam
                            śmieszne rzeczy które lubię robić i generalnie śmiesznie XD.
                            {% endblocktrans %}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <!-- todo: social media icons -->
                    </md-card-actions>
                </md-card>
                <div>
                    <form layout="row" layout-align="center center">
                        <md-input-container>
                            <label>{% trans 'Search' %}</label>
                            <input name="search">
                        </md-input-container>
                        <md-button type="submit" class="md-raised md-primary md-icon-button">
                            <md-icon md-font-icon="search"></md-icon>
                        </md-button>
                    </form>
                </div>
                <div layout="row">
                    <h3>Tag</h3>Tag<h6>Tag</h6>
                </div>
            </div>
        </div>
    </md-content>
{% endblock content %}
