{% extends 'skeleton.html' %}
{% load i18n staticfiles %}

{% block landing %}
    <image-splash flex image="{% static 'img/background.jpg' %}">
        <div flex layout="row" layout-align="center center">
            <h2 class="md-display-3" style="color: white;">{% trans 'Witaj na mojej stronie' %}</h2>
        </div>
    </image-splash>
{% endblock %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    <md-content layout-margin>
        <div layout="column" layout-gt-sm="row" flex layout-align="space-around start">
            <div layout="column" flex-gt-sm="70" flex layout-padding>
                <h1 class="md-display-2">{% trans 'Ostatnie posty na blogu' %}</h1>
                <md-divider></md-divider>
                {% for article in recent_articles %}
                    {% include 'blog/article_tile.html' %}
                {% empty %}
                <h2>{% trans 'No articles has been added yet :(' %}
                {% endfor %}
                <div flex layout="row" layout-align="end center">
                    <a href="{% url 'blog:main' %}" class="md-subhead">{% trans 'Więcej wpisów' %} >></a>
                </div>
                <md-divider></md-divider>
            </div>
            <!-- Author, newsfeed -->
            <div layout="column" flex-gt-sm="30" flex-order="-1" flex-order-gt-sm="2" layout-padding>
                <md-card>
                    <img ng-src="{% static 'img/avatar.png' %}" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{% trans 'O mnie' %}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <p>
                            {% blocktrans %}
                            Lubię placki, jestem śmiesznym i wyluzowanym programistą, bo wrzucam
                            śmieszne rzeczy które lubię robić i generalnie śmiesznie XD.
                            {% endblocktrans %}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <!-- todo: social media icons -->
                    </md-card-actions>
                </md-card>
                <div>
                    <form layout="row" layout-align="center center">
                        <md-input-container>
                            <label>{% trans 'Search' %}</label>
                            <input name="search">
                        </md-input-container>
                        <md-button type="submit" class="md-raised md-primary md-icon-button">
                            <md-icon md-font-icon="search"></md-icon>
                        </md-button>
                    </form>
                </div>
                <div layout="row">
                    <h3>Tag</h3>Tag<h6>Tag</h6>
                </div>
            </div>
        </div>
    </md-content>
{% endblock content %}
