<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load i18n staticfiles utils %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marcin Muszynski">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <title>DevMate {% block title %}{% endblock title %}</title>
    <link href="{% static 'libs/angular-material/angular-material'|minified:'css' %}" rel="stylesheet">
    <link href="{% static 'site/css/site.css' %}" rel="stylesheet">
    <style>
        .background {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image:
                linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)),
                url('{% static "/img/background.jpg" %}');
        }
    </style>
    {% block extra_css %}{% endblock extra_css %}
</head>
<body ng-app="devMateApp" ng-controller="{% block controller %}SkeletonCtrl{% endblock controller %}">
    <div flex layout-fill class="background parallax">
        <header>
            {% block header %}
            <div layout="column" layout-fill="layout-fill">
                <md-toolbar md-scroll-shrink>
                    <div class="md-toolbar-tools">
                        <md-button ng-href="{% url 'main' %}">
                            <h3>DevMate</h3>
                        </md-button>
                        <span flex></span>
                        <md-button ng-href="{% url 'blog:main' %}">
                            <h3>{% trans 'Blog' %}</h3>
                        </md-button>
                        <md-button ng-href="{% url 'about' %}">
                            <h3>{% trans 'O mnie' %}</h3>
                        </md-button>
                        <md-button ng-href="{% url 'projects' %}">
                            <h3>{% trans 'Projekty' %}</h3>
                        </md-button>
                        {% if user.is_authenticated %}
                        <md-button ng-href="{% url 'auth:logout' %}">
                            Log Out
                        </md-button>
                        {% endif %}
                    </div>
                </md-toolbar>
            </div>
            {% endblock header %}
        </header>
        <div flex layout="row" layout-align="center center" layout-fill>
            <h2 style="color: white;">{% trans 'Witaj na mojej stronie' %}</h2>
        </div>
    </div>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>

    </footer>
    <script type="text/javascript" src="{% static 'libs/angular/angular'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-resource/angular-resource'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-animate/angular-animate'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-aria/angular-aria'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-messages/angular-messages'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-material/angular-material'|minified %}"></script>
    <script type="text/javascript" src="{% static 'site/js/skeleton.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>