<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
{% load i18n staticfiles utils %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Marcin Muszynski">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <title>DevMate {% block title %}{% endblock title %}</title>
    <link href="{% static 'libs/angular-material/angular-material'|minified:'css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="{% static 'site/css/main.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock extra_css %}
</head>
<body ng-app="devMateApp" ng-controller="{% block controller %}SkeletonCtrl{% endblock controller %}" ng-cloak>
    <header flex="100">
        {% block header %}
        <div layout="column" layout-fill>
            <md-content>
                <md-toolbar md-scroll-shrink style="position: fixed; box-shadow: green 0px 2px 2px;" scroll-class scroll-offset="200" scroll-toggle-class="scrolled-navbar" flex layout="row" layout-align="space-around center">
                    <div class="md-toolbar-tools">
                        <md-button ng-href="{% url 'blog:main' %}">
                            <h3>{% trans 'Blog' %}</h3>
                        </md-button>
                        <md-button ng-href="{% url 'about' %}">
                            <h3>{% trans 'About me' %}</h3>
                        </md-button>
                        <md-button ng-href="{% url 'projects' %}">
                            <h3>{% trans 'Projects' %}</h3>
                        </md-button>
                        <nav-search></nav-search>
                        {% if user.is_authenticated %}
                        <md-button ng-href="{% url 'auth:logout' %}">
                            Log Out
                        </md-button>
                        {% endif %}
                        <md-menu class="md-secondary" md-position-mode="target-right target">
                            {% get_current_language as curr_lang %}
                            <md-button aria-label="Open Language Menu" ng-click="$mdMenu.open($event)">
                                {{ curr_lang|upper }}
                            </md-button>
                            <md-menu-content width="2" ng-mouseleave="$mdMenu.close()">
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for lang in languages %}
                                <!-- <md-menu-item><md-button>{{ lang.code|upper }}</md-button></md-menu-item> -->
                                <md-button ng-href="/{{lang.code}}/">{{ lang.code|upper }}</md-button>
                                {% endfor %}
                            </md-menu-content>
                        </md-menu>
                    </div>
                </md-toolbar>
            </md-content>
            {% block landing %}
            <div style="margin-top: 80px">
                <!-- This is to ensure that the content is offset when there's no landing -->
            </div>
            {% endblock %}
        </div>
        {% endblock header %}
    </header>
    <main flex layout="row" layout-align="space-around start">
        {% block media_scroller %}
            <div class="fixed-media" scroll-class scroll-offset="200" scroll-toggle-class="scrolling">
                <md-fab-speed-dial md-direction="up" md-open="showMediaFab" class="md-scale">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab">
                            <md-tooltip md-direction="down">{% trans 'Find me on social media' %}</md-tooltip>
                            <md-icon md-svg-src="img/icons/menu.svg" aria-label="menu"></md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <md-button class="md-fab md-mini md-button md-ink-ripple" aria-label="Facebook" >
                            <md-tooltip md-direction="right"
                                md-autohide="false">Facebook
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/facebook.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-button md-ink-ripple" aria-label="LinkedIn">
                            <md-tooltip md-direction="right"
                                md-autohide="false">LinkedIn
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/linkedin.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-button md-ink-ripple" aria-label="GitHub">
                            <md-tooltip md-direction="right"
                                md-autohide="false">GitHub
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/github.svg"></md-icon>
                        </md-button>
                        <md-button class="md-fab md-mini md-button md-ink-ripple" aria-label="Mail">
                            <md-tooltip md-direction="right"
                                md-autohide="false">Mail
                            </md-tooltip>
                            <md-icon md-svg-src="img/icons/mail.svg"></md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        {% endblock media_scroller %}
        {% block content %}
        {% endblock content %}
        {% block scroller %}
            <div class="fixed-scroller" scroll-class scroll-offset="200" scroll-toggle-class="scrolling">
                <sticky-scroll></sticky-scroll>
            </div>
        {% endblock scroller %}
    </main>
    <footer flex>
        <md-toolbar flex layout="column" layout-align="center center">
            <div layout="center center">
                <div class="md-subhead">
                    © 2017 Copyright: <a href="/"> Marcin Muszynski </a>
                </div>
            </div>
        </md-toolbar>
    </footer>
    <script type="text/javascript" src="{% static 'libs/angular/angular'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-resource/angular-resource'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-animate/angular-animate'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-aria/angular-aria'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-messages/angular-messages'|minified %}"></script>
    <script type="text/javascript" src="{% static 'libs/angular-material/angular-material'|minified %}"></script>
    <script type="text/javascript" src="{% static 'site/js/skeleton.js' %}"></script>
    <script type="text/javascript" src="{% static 'site/js/icons.js' %}"></script>
    {% include 'directives.html' %}
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
