{% load i18n %}

<md-card md-theme="default" md-theme-watch>
    <img ng-src="{{article.thumbnail.url}}" style="height: 200px" class="md-card-image md-media-md" alt="Washed Out">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{article.title}}</span>
            <span class="md-subhead">{{article.publish_date}}</span>
        </md-card-title-text>
        <md-card-title-media>
            <div class="md-media-sm card-media"></div>
        </md-card-title-media>
    </md-card-title>
    <md-card-content>
        <p>{{article.description}}
        </p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
        <md-button href="{{article.get_absolute_url}}">{% trans 'Czytaj dalej' %}</md-button>
    </md-card-actions>
</md-card>
