{% extends 'skeleton.html' %}
{% load i18n staticfiles %}

{% block landing %}
	<image-splash image="{% static 'img/background.jpg' %}">
	</image-splash>
{% endblock landing %}

{% block content %}
	<div flex="60" layout="column" layout-align="space-around center">
		<h2> {% trans 'Latest articles' %}</h2>
		<md-content layout-padding flex layout-fill>
			<md-grid-list md-cols="4" md-row-height="100px" style="height: 100%;">
				{% for article in articles %}
					<md-grid-tile md-colspan="4" ng-click="null" md-rowspan="2" style="background: url('{{ article.thumbnail.url }}');">
						<md-grid-tile-footer layout-padding>
							{{ article.publish_date|date:"j E Y" }} <br/>
							<strong>{{ article.title }}</strong>
						</md-grid-tile-footer>
					</md-grid-tile>
				{% empty %}
					<h1>{% trans 'No articles has been added yet :(' %}</h1>
				{% endfor %}
			</md-grid-list>
		</md-content>
	</div>
	<div flex="20">
		<h3>Filtry etc.</h3>
		<!-- Filtry etc -->
	</div>
{% endblock content %}
