* {
  font-family: Lato;
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
}

.card-title {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    color: white;
}

.fixed-scroller {
  position: fixed !important;
  bottom: 100px;
  right: 100px;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.scrolling {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.scrolled-navbar {
  -webkit-transition: all 1000ms ease-in;
  -webkit-transform: scale(1.1); 
  -ms-transition: all 1000ms ease-in;
  -ms-transform: scale(1.1); 
  -moz-transition: all 1000ms ease-in;
  -moz-transform: scale(1.1);
  transition: all 1000ms ease-in;
  transform: scale(1.1); 
}
